---
import Layout from '../layouts/Layout.astro';
import GalleryGrid from '../components/GalleryGrid.astro';
import { generatePhotoManifest } from '../utils/photos';

const photos = generatePhotoManifest();
---

<Layout title="Photo Gallery">
  <main>
    <GalleryGrid photos={photos} />
  </main>
</Layout>
